.grid-item {
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition: 0.25s cubic-bezier(0.48, 0.28, 0.47, 1.34);
    z-index: 1;
}

.grid-item:hover {
    transform: scale(1.05);
    z-index: 9999;
}

.topic {
    padding-top: 70px;
}